*{
    margin: 0%;
}
body{
    background-color: rgb(71, 67, 67);
}
#navigation a{
    text-decoration: none;
    color: bisque;
    font-family: sans-serif;
    text-transform: uppercase;
}
#navigation ul{
    list-style: none;
}
#navigation{
    position: relative;
    bottom: 3.5rem;
    right: 10rem;
    float: right;
}
form{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 6rem;
    line-height: 90px;
}
#searchInputValue{
    height: 3rem;
    width: 30rem;
}
#searchButton{
    height: 3rem;
    width: 10rem;
}
#search--api--img{
    width: 12rem;
    height: 20rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: antiquewhite;
}
#search--api--space{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 200px));
    justify-content: center;
    margin: 0% 22%;
    row-gap: 1rem;
    column-gap: 1rem;
    position: relative;
    top: 5rem

}

#search--buttons{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    height: 3rem;
   
}
#search--prev--button{
    width: 10rem;  
}
#search--next--button{
    width: 10rem;  
}
footer{  
    text-align: center;
    position: relative;
    top: 18rem;
    background-color: black;
    height: 6rem;
    color: azure;
    line-height: 5rem;
}
#axception{
    text-align: center;
    position: relative;
    top: 2rem
}