*{
    margin:0 ;
}
body{
    background-color: rgb(66, 65, 65);
    overflow-x: hidden;
}
#navigation--0 ul{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     list-style: none;
}
#navigation--0 a{
    text-decoration: none;
   font-size: 1.5rem;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   color: aliceblue;
}
#navigation--0{
    background-color: black;
    height: 90px;
    line-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#heading{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(47, 49, 50);
   height: 5rem;
   color: white;
}
form input{
    width: 25rem;
    height: 3rem
}
form{
    display: flex;
    justify-content: center;
}

form #img{
    width: 3rem;
    height: 2.5rem;
    position: relative;
    top: 1rem;
    right: 3.2rem;
}
#form{
   display:  flex 
}
#search{
    cursor: pointer;
    width: 8rem;
    height: 2.88rem;
    margin: 0.2rem;
    margin-top: 0.8rem;
    border-top-left-radius: none;
    border-style: none;
    position: relative;
    top: 0.2rem
}

/*/////////CARD--ZERO////////*/
#card--zero--space{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 250px));
    justify-content:center;
    column-gap: 1rem;
    row-gap: 1rem;
    position: relative;
    top: 8rem; 
    margin: 5% 20%;   
}

card--zero{
    display: flex;
    justify-content: center; 
}
#card--img--zero{
    width: 15rem;
    height: 20rem;
    border-style: solid;
    border-color: rgb(84, 83, 82);
    border-radius: 0.5rem;
    cursor: pointer;
}
#card--img--zero:hover{
    opacity: 0.5;
}
#card--img--zero, #card--zero{
    transition:  all 0.5s ease-in-out;
}
#card--zero:hover{
    transform: scale(1.08);
  
}
#card--title--zero, #card--year--zero{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#play--button--zero{
   position: relative;
   bottom: 100rem;
   left: 6rem;
   width: 8rem;
   height: 2rem;
   border-style: none;
   background-color: rgb(103, 118, 118);
   font-size: 1rem;
}
#play--button--zero:hover{
    background-color: brown;
    cursor: pointer;
}
/*BUTTONS*/
#button--button{
     display: flex;
     justify-content: center;
     position: relative;
     top:15rem;
     column-gap: 1.5rem;
}

#next--button{
    width: 20rem;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    cursor: pointer; 
}

#next--button:hover{
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
    background-color: brown;
    border-style: none;
 }
 
#previous--button{
    width: 20rem;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
   
}
#previous--button:hover{
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
    background-color: brown;
    border-style: none;
 }
 
 /**/
#movies--heading{
    font-size: 4rem;
    position: relative;
    top: 10rem;
    text-align: center;
}
#ama--movie{
    display: block;
    color: rgb(65, 74, 71);
}
/*////////CARD--ONE///////////*/

#card--one--space{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10rem;
    position: relative;
    top: 6rem;
}
#card--one--space:hover{
    transform: scale(1.05);
}
#card--img--one{
    width: 45rem;
    height: 30rem;
}
#card--one--space, #card--img--one{
    transition: all 1s ease-in-out;
}
#card--one{
    width: 50rem;
    height: 35rem;
    padding-top: 4rem;
    padding-left: 4rem;
    border-radius: 1rem;
}
body{
    background-image: url(https://image.tmdb.org/t/p/w500/wwemzKWzjKYJFfCeiB57q3r4Bcm.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner--image{
    background-image: url(https://image.tmdb.org/t/p/w500/fBjMi7YcVN2lYaIIUR34ZbjzBjx.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 35rem;
    position: relative;
    top: 5rem;  
}
/*UPCOMING MOVIES*/

#upcoming--title{
    text-align: center;
    position: relative;
    top: 4rem;
    font-size: 4rem; 
}
#card--two--space{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    overflow-y: hidden;
    position: relative;
    top: 8rem;
}
#card--img--two{
    width: 20rem;
    height: 25rem;
    border-radius:  1rem;
}
#card--img--two:hover{
    opacity: 0.5;
}
#card--img--two:hover{
    transform: scale(1.08);
}
#card--two--space, #card--img--two{
    transition: all 1s ease-in-out;
}
/*#card--two{
    position: relative;
    top: 8rem;
} 
*/
#left--arrow, #right--arrow{
    width: 8rem;
}
#right--arrow{
    position: relative;
    right: 20rem;
}

/*ZI--LINK*/

#zi--link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    position: relative;
    top: 20rem;
    cursor: pointer;
}
#zi--link li{
    list-style: none;
    color: aquamarine;
}
#zi--link li{
    text-decoration:underline;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
#zi--link{
    background-color: blueviolet;
    line-height: 70px;   
}
 button{
    height: 2rem;
    position: relative;
    top: 1rem
    
}
/*ARROW--UP*/
#up--arrow{
   height: 5rem;
   background-color: rgb(118, 118, 135);
   border-radius: 50%;
   cursor: pointer;
   position: relative;
   top: 6rem;
}
#up--arrow-container{
    display: flex;
    justify-content: right;
}
footer{  
    text-align: center;
    position: relative;
    top: 18rem;
    background-color: black;
    height: 6rem;
    color: azure;
    line-height: 5rem;
}
#burger--image img{
    width: 5rem;
}
#burger--image img:hover{
   opacity: 0.5;
}
#burger--image{
    display: none;
}
*{
    margin: 0%;
}
body{
    background-color: rgb(71, 67, 67);
}
#navigation a{
    text-decoration: none;
    color: bisque;
    font-family: sans-serif;
    text-transform: uppercase;
}
#navigation ul{
    list-style: none;
}
#navigation{
    position: relative;
    bottom: 3.5rem;
    right: 10rem;
    float: right;
}
form{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 6rem;
    line-height: 90px;
}
#searchInputValue{
    height: 3rem;
    width: 30rem;
}
#searchButton{
    height: 3rem;
    width: 10rem;
}
#search--api--img{
    width: 12rem;
    height: 20rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: antiquewhite;
}
#search--api--space{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0%, 200px));
    justify-content: center;
    margin: 0% 22%;
    row-gap: 1rem;
    column-gap: 1rem;
    position: relative;
    top: 5rem

}

#search--buttons{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    height: 3rem;
   
}
#search--prev--button{
    width: 10rem;  
}
#search--next--button{
    width: 10rem;  
}
footer{  
    text-align: center;
    position: relative;
    top: 18rem;
    background-color: black;
    height: 6rem;
    color: azure;
    line-height: 5rem;
}
#axception{
    text-align: center;
    position: relative;
    top: 2rem
}
.home{
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-left: 3rem;
  }
form a{
    text-decoration: none;
    color: aliceblue;
}
@media only screen and (max-width: 488px){
         #searchInputValue{
            width: 20rem;
         }
}
@media only screen and (max-width: 1444px){
    #burger--image{
        display: block;
        background-color: rgb(54, 61, 61);
        border-color: rgb(66, 68, 69);
        border-style: solid;
        position: fixed;
        width: 100%;
        z-index: 1000;
        cursor: pointer;
    }
    #navigation--0 ul{
        display: flex;
        flex-direction:column ;
        line-height: 3rem;
      }
    #navigation--0{
        width: 500px;
        height: 50rem;  
        margin-top: 5.6rem;   
      }
      
    #inputValue{
        position: relative;
        right: 2rem;
     }
    .navigation{
       display: none;
    }
}